Repository pgalias/tailgear: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "src/**/*.{ts,tsx,json,css,md,mdx}": ["prettier --write"],
  "src/**/*.{ts,tsx,json}": ["eslint"]
}

chore: add deploying to gh pages on each push
  .prettierrc
  package.json
  src/app/App.tsx
  yarn.lock
Due: prettier --write, eslint

Updates
  asset-manifest.json
  favicon.ico
  index.html
  logo192.png
  logo512.png
  manifest.json
  robots.txt
  static/css/2.23bf27c0.chunk.css
  static/css/2.23bf27c0.chunk.css.map
  static/css/main.03defaf4.chunk.css
  static/css/main.03defaf4.chunk.css.map
  static/js/2.233f1b4e.chunk.js
  static/js/2.233f1b4e.chunk.js.LICENSE.txt
  static/js/2.233f1b4e.chunk.js.map
  static/js/3.6a978946.chunk.js
  static/js/3.6a978946.chunk.js.map
  static/js/main.591c8b42.chunk.js
  static/js/main.591c8b42.chunk.js.map
  static/js/runtime-main.bba229b2.js
  static/js/runtime-main.bba229b2.js.map
Due: none

chore: create github action for deploying app
  .github/workflows/deploy.yml
  package.json
  src/declare.d.ts
Due: prettier --write, eslint

Updates
  asset-manifest.json
  index.html
  static/js/2.233f1b4e.chunk.js.map
  static/js/2.3bb03448.chunk.js
  static/js/2.3bb03448.chunk.js.LICENSE.txt
  static/js/2.3bb03448.chunk.js.map
  static/js/main.591c8b42.chunk.js.map
  static/js/main.8b42beb9.chunk.js
  static/js/main.8b42beb9.chunk.js.map
Due: none

chore: remove purging tailwind classes
  tailwind.config.js
Due: none

fix: make copy button work with changed inside editor code
  src/app/pages/components/ComponentView.tsx
  src/app/pages/components/Variant.tsx
  src/app/pages/components/__tests__/Variant.tsx
Due: prettier --write, eslint

chore: silent tailwind building warning
  tailwind.config.js
Due: none

chore: change package name and homepage in package.json
  package.json
Due: none

Updates
  asset-manifest.json
  index.html
  static/js/2.8ba379d0.chunk.js
  static/js/2.8ba379d0.chunk.js.map
  static/js/2.bba41e0e.chunk.js
  static/js/2.bba41e0e.chunk.js.LICENSE.txt
  static/js/2.bba41e0e.chunk.js.map
  static/js/3.6a978946.chunk.js
  static/js/3.6a978946.chunk.js.map
  static/js/3.c73fa4d6.chunk.js
  static/js/3.c73fa4d6.chunk.js.map
  static/js/main.b248b0c2.chunk.js
  static/js/main.b248b0c2.chunk.js.map
  static/js/main.d5963b5f.chunk.js
  static/js/main.d5963b5f.chunk.js.map
  static/js/runtime-main.4f83f472.js
  static/js/runtime-main.4f83f472.js.map
  static/js/runtime-main.bba229b2.js
  static/js/runtime-main.bba229b2.js.map
Due: none

feat: make components' list expendable/shrinkable
  src/app/components/link/LinkGroup.tsx
  src/app/components/link/style.module.css
  src/app/pages/components/LinksList.tsx
Due: prettier --write, eslint

refactor: rename "Modules" to "Templates"
  src/sections/elements/index.ts
  src/sections/index.ts
  src/sections/types.ts
Due: prettier --write, eslint

feat: provide logo for project
  src/app/components/colorSchemeSwitcher/colorSchemeSwitcher.module.css
  src/app/components/header/Header.tsx
  src/app/components/header/__tests__/Header.tsx
  src/app/components/header/header.module.css
  src/app/components/logo/Logo.tsx
  src/app/components/logo/__tests__/Logo.tsx
  src/app/components/logo/__tests__/__snapshots__/Logo.tsx.snap
  src/app/components/logo/styles.module.css
  src/app/components/navigation/Navigation.tsx
  src/app/layout/Layout.tsx
  src/assets/images/logo.svg
Due: prettier --write, eslint

fix: add dark styles for component divider
  src/app/pages/components/styles.module.css
Due: prettier --write

refactor: put all components into one block view
  src/app/layout/__tests__/Layout.tsx
  src/app/pages/components/BlockView.tsx
  src/app/pages/components/ComponentView.tsx
  src/app/pages/components/LinksList.tsx
  src/app/pages/components/RoutesList.tsx
  src/app/pages/components/styles.module.css
  src/app/provider/components/__tests__/fixtures.ts
  src/app/provider/components/__tests__/selector.ts
  src/app/provider/components/selector.ts
  src/sections/elements/alerts.ts
  src/sections/elements/buttons.ts
  src/sections/types.ts
Due: prettier --write, eslint

ci: fix fixtures for provider tests
  src/app/provider/components/__tests__/fixtures.ts
Due: prettier --write, eslint

feat: create minimalistic team template
  src/components/elements/alerts/Danger.tsx
  src/components/elements/alerts/DangerWithIcon.tsx
  src/components/elements/alerts/Info.tsx
  src/components/elements/alerts/InfoWithIcon.tsx
  src/components/elements/alerts/Success.tsx
  src/components/elements/alerts/SuccessWithIcon.tsx
  src/components/elements/alerts/Warning.tsx
  src/components/elements/alerts/WarningWithIcon.tsx
  src/components/elements/alerts/WithAdditionalContent.tsx
  src/components/elements/alerts/index.ts
  src/components/elements/buttons/Basic.tsx
  src/components/elements/buttons/index.ts
  src/components/templates/team/index.ts
  src/components/templates/team/minimalistic.tsx
  src/sections/elements/alerts.ts
  src/sections/elements/buttons.ts
  src/sections/elements/index.ts
  src/sections/index.ts
  src/sections/templates/index.ts
  src/sections/templates/team.ts
Due: prettier --write, eslint

Updates
  asset-manifest.json
  index.html
  static/js/2.13106cc5.chunk.js
  static/js/2.13106cc5.chunk.js.LICENSE.txt
  static/js/2.13106cc5.chunk.js.map
  static/js/2.cab9f307.chunk.js
  static/js/2.cab9f307.chunk.js.map
  static/js/main.5033964b.chunk.js
  static/js/main.5033964b.chunk.js.map
  static/js/main.a529914e.chunk.js
  static/js/main.a529914e.chunk.js.map
Due: none

fix: add properly team template
  src/app/pages/components/ComponentView.tsx
  src/app/pages/components/styles.module.css
  src/app/provider/components/__tests__/fixtures.ts
  src/sections/elements/alerts.ts
  src/sections/elements/buttons.ts
  src/sections/templates/team.ts
  src/sections/types.ts
Due: prettier --write, eslint

feat: create another minimalistic team template
  src/components/templates/team/index.ts
  src/components/templates/team/minimalisticBigPhotos.tsx
  src/components/templates/team/minimalisticCards.tsx
  src/sections/templates/team.ts
Due: prettier --write, eslint

Updates
  asset-manifest.json
  index.html
  static/js/main.5a83ff7d.chunk.js
  static/js/main.5a83ff7d.chunk.js.map
  static/js/main.a529914e.chunk.js
  static/js/main.a529914e.chunk.js.map
Due: none

feat: create another category in team templates
  package.json
  src/components/templates/team/inSliderGlass.tsx
  src/components/templates/team/inSliderNormal.tsx
  src/components/templates/team/minimalisticBigPhotos.tsx
  src/components/templates/team/minimalisticCards.tsx
  src/components/templates/team/utils.tsx
  src/sections/templates/team.ts
  yarn.lock
Due: prettier --write, eslint

Updates
  asset-manifest.json
  index.html
  static/js/2.13106cc5.chunk.js
  static/js/2.13106cc5.chunk.js.map
  static/js/2.c52ff1f8.chunk.js
  static/js/2.c52ff1f8.chunk.js.LICENSE.txt
  static/js/2.c52ff1f8.chunk.js.map
  static/js/3.3b6e53fd.chunk.js
  static/js/3.3b6e53fd.chunk.js.map
  static/js/3.4ee3f733.chunk.js
  static/js/3.4ee3f733.chunk.js.map
  static/js/main.5a83ff7d.chunk.js
  static/js/main.5a83ff7d.chunk.js.map
  static/js/main.e0bfd97b.chunk.js
  static/js/main.e0bfd97b.chunk.js.map
  static/js/runtime-main.636a5fc4.js
  static/js/runtime-main.636a5fc4.js.map
  static/js/runtime-main.f1dfd6a1.js
  static/js/runtime-main.f1dfd6a1.js.map
Due: none

fix: fix team component
  src/sections/templates/team.ts
Due: prettier --write, eslint

refactor: change team glass template a little
  src/assets/images/glass-ui-bg-sample-dark.jpg
  src/assets/images/glass-ui-bg-sample-light.jpg
  src/components/templates/team/inSliderGlass.tsx
  src/index.css
  src/sections/templates/team.ts
  tailwind.config.js
Due: prettier --write, eslint
